.container{
    max-width: fit-content;
    width: 100%;
}

p{
    text-align: justify;
    color: green;
}

.card-text{
    text-align: justify;
    color: green;
    text-decoration: none;
}

article img{
    max-width: 100% !important;
    height: auto !important;
    border-radius: .25rem!important;
}

.featured-image-list{
    object-fit: contain;
}