<div class="footer bg-dark">
    <div class="row">
        <div class="col-md-4">
            <div class="navbar navbar-dark bg-dark  p-10">
                <div class="container">
                    <h3><a class="navbar-brand" href="/"
                            style="color: chocolate; font-size: 40px; font-weight: 900;">Halo Developer</a></h3>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="navbar navbar-dark bg-dark  p-10">
                <div class="container">
                    <h3><a class="navbar-brand" href="/"
                            style="color: chocolate; font-size: 40px; font-weight: 900;">Halo Developer</a></h3>

                </div>
            </div>
        </div>

    </div>
</div>