<div class="row">
  <div class="col-md-12 ">
    <div class="container align-items-center justify-items-center" style="align-items: center; justify-items: center;">
      {% if page.has_other_pages %}
      <ul class="pagination mt-3 mb-0 justify-items-center" style="align-content: center; ">
        {% if page.has_previous %}
        <li class="page-item"><a class="page-link"
            href="?page={{ page.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
            style="color: #333; border-color: chocolate; border-radius: 0; background-color: white">&laquo;</a></li>
        {% else %}
        <li class="disabled page-item"><span class="page-link"
            style="color: #333; border-color: chocolate; border-radius: 0; background-color: chocolate;">&laquo;</span>
        </li>
        {% endif %}
        {% for i in page.paginator.page_range %}
        {% if page.number == i %}
        <li class="active page-item"><span class="page-link"
            style="color: #333; border-color: chocolate; border-radius: 0; background-color: chocolate;">{{ i }}</span>
        </li>
        {% else %}
        <li class="page-item"><a class="page-link"
            href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
            style="color: #333; border-color: chocolate; border-radius: 0; background-color: white;">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page.has_next %}
        <li class="page-item"><a class="page-link"
            href="?page={{ page.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
            style="color: #333; border-color: chocolate; border-radius: 0; background-color: chocolate;">&raquo;</a>
        </li>
        {% else %}
        <li class="disabled page-item"><span class="page-link"
            style="color: #333; border-color: chocolate;  border-radius: 0; background-color: chocolate;">&raquo;</span>
        </li>
        {% endif %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>